{% extends "skeleton.html" %}
{% set active_page = url_for('about_page') %}
{% block body %}
    <div class="container">

      <div class="row">

          <div class="col-md-8"><h2>About Me</h2></div>
        <div class="col-md-8"><span >I'm a Senior at Rice University studying math. I love learning
            Some of my hobbies include everything related to baseball (playing it, watching it, analyzing it),
            doing things with computers (unfortunately, that was a lot of video games in my teens), reading,
            hanging out with friends, and making spaghetti. Also, at one point I really liked math, but not so much
            anymore.</span><div style="line-height:150%;"><br></div>
         <span>
           I decided to make this website to learn more about full stack engineering and data visualization for web
            pages after having some free time at the end of summer 2017. In my opinion, the best way to learn is by
            doing it for fun, so here I am! This site also doubles as a way to show off anything cool I've done / will
            do to potential recruiters, but that's not really my main focus.</span></div>
          <div class="col-md-4"><img src="{{ url_for('static',filename='images/me.png')}}" style="width: auto; height: 50%"></div>

            <div class="col-md-8">
        </div>


        </div>

      <div class="row">
        <div class="col-md-8"> <h2>About This Site</h2></div>
        <div class="col-md-8"><span>For the frontend, I'm using bootstrap 3 for html templates, and jquery and (hopefully) D3 as my
            javascript libraries of choice. On the backend, I'm using python's flask web framework along with a sqlite
            database, but we shall see if I decide to do anything with that. I might just store some data in csv's or
            json files. I'm hosting the server on a raspberry pi 3 using (x) server tools. Honestly, I didn't put that
            much thought into my choices so if you have any suggestions I would love to hear them. I just wanted to
            practice a language other than python...but I did end up using python on the backend.</span></div>
      </div></div>

    <!-- /.container -->
{% endblock %}

